.Mega label {
    margin-right: 10px;
}

.Mega input {
    font-size: 1.4rem;
    width: 50px;
}

.Mega button {
    margin: 15px;
    height: 50px;
    border-radius: 4px;
    background-color: #2B9464;
    color: #fff;
    font-size: 1.4rem;
    border:none;
}