.Counter input {
    font-size: 1.4rem;
    width: 60px;
}

.Counter button {
    margin: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #DE5842;
    color: #fff;
    font-size: 1.4rem;
    border:none;
}